<div>
    <div>
        <h2>Stand-alone</h2>
        <p class="has-text-weight-bold">
            A stand-alone agent
        </p>
        <p>
            The Stand-alone agent is a program that can easily be deployed on any computer, upon which,
            will execute adversary emulation exercises without connecting to C2 server.
        </p>
    </div>
    <hr>
    <div>
        <div class="columns">
            <div class="column is-4 buttons m-0 is-flex is-justify-content-flex-start">
                <button class="button is-primary is-small level-item" @click="showDeployModal = true">
                    <span class="icon"><i class="fas fa-plus"></i></span>
                    <span>Deploy an stand-alone agent</span>
                </button>
            </div>
        </div>
     </div>
     
</div>
